:root {
  --ifm-color-primary: #1f6feb;
  --ifm-color-primary-dark: #1b63d4;
  --ifm-color-primary-darker: #185dc8;
  --ifm-color-primary-darkest: #144da5;
  --ifm-color-primary-light: #367df0;
  --ifm-color-primary-lighter: #4386f1;
  --ifm-color-primary-lightest: #6ba0f4;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #58a6ff;
  --ifm-color-primary-dark: #3695ff;
  --ifm-color-primary-darker: #258cff;
  --ifm-color-primary-darkest: #0071e6;
  --ifm-color-primary-light: #7ab7ff;
  --ifm-color-primary-lighter: #8bc0ff;
  --ifm-color-primary-lightest: #bfdcff;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.25rem 0;
}
